force-app/main/default/flows/NewRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Nickname_Counter</name>
        <label>Nickname Counter</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_NicknameCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Username_and_Nickname</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Username_Counter</name>
        <label>Username Counter</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_UsernameCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nickname_Availability</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Donor_type</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Donor&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Donor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Military_type</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Military&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Military</stringValue>
        </value>
    </choices>
    <choices>
        <name>Volunteer_type</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Volunteer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volunteer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_User</name>
        <label>Active User?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Active_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active User</defaultConnectorLabel>
        <rules>
            <name>Inactive_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User</targetReference>
            </connector>
            <label>Inactive User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_User</name>
        <label>Existing User?</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Active_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing User</defaultConnectorLabel>
        <rules>
            <name>New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Licenses</targetReference>
            </connector>
            <label>New User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licenses_Available</name>
        <label>Licenses Available?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Unavailable_License_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_AvailableLicenses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Usernames</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nickname_Availability</name>
        <label>Nickname Availability</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Find_Username_and_Nickname</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nickname Available</defaultConnectorLabel>
        <rules>
            <name>Nickname_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Username_and_Nickname.CommunityNickname</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>for_BaseNickname</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nickname_Counter</targetReference>
            </connector>
            <label>Nickname Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Username_Availability</name>
        <label>Username Availability</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Nickname_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available</defaultConnectorLabel>
        <rules>
            <name>Username_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Username_and_Nickname.Username</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <elementReference>for_BaseUsername</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Username_Counter</targetReference>
            </connector>
            <label>Username Unavailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_user_profile_we_create</name>
        <label>What user profile we create?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Photo_find</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Military/Volontier user creation</defaultConnectorLabel>
        <rules>
            <name>Donor_user_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Donor_type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_donor_registration_case</targetReference>
            </connector>
            <label>Donor user creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_AvailableLicenses</name>
        <dataType>Number</dataType>
        <expression>{!Get_Licenses.TotalLicenses} - {!Get_Licenses.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>for_BaseNickname</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(SUBSTITUTE(LEFT({!Name}, 1)+ {!Surname}, &quot; &quot;, &quot;&quot;),40))</expression>
    </formulas>
    <formulas>
        <name>for_BaseUsername</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(SUBSTITUTE(LEFT({!Name}, 1)+ &quot;.&quot; + {!Surname}, &quot; &quot;, &quot;&quot;), 60) +&quot;@militaryvolontears.com&quot;)</expression>
    </formulas>
    <formulas>
        <name>for_Nickname</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT(IF({!var_NicknameCounter} &gt;0, TEXT({!var_NicknameCounter}),&quot;&quot;)+SUBSTITUTE(LEFT({!Name},1)+{!Surname},&quot; &quot;,&quot;&quot;),40))</expression>
    </formulas>
    <formulas>
        <name>for_Username</name>
        <dataType>String</dataType>
        <expression>LOWER(IF({!var_UsernameCounter} &gt; 0, TEXT({!var_UsernameCounter}), &quot;&quot;) + LEFT(SUBSTITUTE(LEFT({!Name}, 1)+ &quot;.&quot;+{!Surname},&quot; &quot;,&quot;&quot;),60)+&quot;@militaryvolontears.com&quot;)</expression>
    </formulas>
    <interviewLabel>NewRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>NewRegistration</label>
    <loops>
        <name>Find_Username_and_Nickname</name>
        <label>Find Username and Nickname</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Matching_Usernames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Username_Availability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_user_profile_we_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_donor_registration_case</name>
        <label>create  donor registration case</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Donor_Sucsesfuly_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Auto-Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Information__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>for_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surname__c</field>
            <value>
                <elementReference>Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>for_Username</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_military_volontier_case</name>
        <label>create military/volontier case</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>get_registration_case_id</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Information__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>for_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surname__c</field>
            <value>
                <elementReference>Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>for_Username</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_photo_conection</name>
        <label>create photo conection</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Finish_military_volontier_record_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Photo_find.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>get_registration_case_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Licenses</name>
        <label>Get Licenses</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Licenses_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalLicenses</queriedFields>
        <queriedFields>UsedLicenses</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Usernames</name>
        <label>Get Matching Usernames</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Username_and_Nickname</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>for_BaseUsername</elementReference>
            </value>
        </filters>
        <filters>
            <field>CommunityNickname</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>for_BaseNickname</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_registration_case_id</name>
        <label>get registration case id</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_photo_conection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Registration_Case__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Photo_find</name>
        <label>Photo find</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_military_volontier_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>ReactivatedUserDisplayS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_User_Screen</name>
        <label>Active User Screen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveUserScreen</name>
            <fieldText>&lt;p&gt;You already have account&lt;/p&gt;&lt;p&gt;Pleace log in ot use forgon password tool&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Donor_Sucsesfuly_created</name>
        <label>Donor Sucsesfuly created</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DonorFinish</name>
            <fieldText>&lt;p&gt;Your acoount sucsesfully created psl check your email for account activating&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_military_volontier_record_creation</name>
        <label>Finish military/volontier record creation</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finishedvolontier</name>
            <fieldText>&lt;p&gt;Your acoount sucsesfully created,&amp;nbsp;our manager check your document and send u activation email as soon as possible&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReactivatedUserDisplayS</name>
        <label>ReactivatedUserDisplay</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReactivatedUserDisplay</name>
            <fieldText>&lt;p&gt;We reactivate you account&lt;/p&gt;&lt;p&gt;Please log in or use forgot password tool&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sing_Up_Screen</name>
        <label>Sing Up Screen</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <fields>
            <name>Role</name>
            <choiceReferences>Donor_type</choiceReferences>
            <choiceReferences>Military_type</choiceReferences>
            <choiceReferences>Volunteer_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Surname</name>
            <dataType>String</dataType>
            <fieldText>Surname</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Photo of the supporting document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png , .jpg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Military_type</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Role</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Volunteer_type</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unavailable_License_Screen</name>
        <label>Unavailable License Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnavailableLicenseDisplay</name>
            <fieldText>&lt;p&gt;Sorry&lt;/p&gt;&lt;p&gt;We cant create account for u at this time&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sing_Up_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_NicknameCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_UsernameCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
