force-app/main/default/flows/Screeen_Initializing_Fundraising_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Change_Selected_Military_Request_Status</name>
        <label>Change Selected Military Request Status</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>MilitaryRequestsTable.firstSelectedRow.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Fundraising</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Military_Request_For_Which_Fundraising_Was_Opened</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Associated_Military_Req_To_Collection</name>
        <label>Set Associated Military Req To Collection</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varAssociatedMilitaryRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Fundraising_Actions.Associated_Military_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Fundraising_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Military_Request_Without_Fundraising</name>
        <label>Set Military Request Without Fundraising</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varMilitaryRequestsWithoutFundraising</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Military_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Military_Requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_User_A_Volunteer</name>
        <label>Is Current User A Volunteer</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>WarningScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Fundaising_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Military_Req_Has_Associated_Fundraising</name>
        <label>Military Req Has Associated Fundraising</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Military_Request_Without_Fundraising</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssociatedMilitaryRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Military_Requests.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Military_Requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screeen - {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screeen - Initializing Fundraising Action</label>
    <loops>
        <name>Loop_Through_Fundraising_Actions</name>
        <label>Loop Through Fundraising Actions</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Fundraising_Actions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Associated_Military_Req_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Military_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Military_Requests</name>
        <label>Loop Through Military Requests</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Military_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Military_Req_Has_Associated_Fundraising</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Military_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Fundaising_Action</name>
        <label>Create New Fundaising Action</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Change_Selected_Military_Request_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount_Raised__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Military_Request__c</field>
            <value>
                <elementReference>MilitaryRequestsTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_Goal__c</field>
            <value>
                <elementReference>MilitaryRequestsTable.firstSelectedRow.Requested_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fundraising_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Fundraising_Actions</name>
        <label>Get Fundraising Actions</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Fundraising_Actions</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fundraising_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Military_Requests</name>
        <label>Get Military Requests</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fundraising_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Visibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visible to Volunteers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Military_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Military_Request_For_Which_Fundraising_Was_Opened</name>
        <label>Update Military Request For Which Fundraising Was Opened</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>SuccessfullyCreatedFundraisingScreen</targetReference>
        </connector>
        <inputReference>MilitaryRequestsTable.firstSelectedRow</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErorImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ErrorImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextSomethingWentWrong</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Something went wrong...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Military_Requests</name>
        <label>Military Requests</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Current_User_A_Volunteer</targetReference>
        </connector>
        <fields>
            <name>HeaderText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Choose military request for which you&apos;d like to initiate fundraising action&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MilitaryRequestsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Military_Request__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Military Requests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varMilitaryRequestsWithoutFundraising</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bcae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Military Request Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-f4a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-ab0a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-6a60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Requested_Amount__c&quot;,&quot;guid&quot;:&quot;column-61c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Requested Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-d6ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessfullyCreatedFundraisingScreen</name>
        <label>SuccessfullyCreatedFundraisingScreen</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfulOperationImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SuccessfullyCreatedImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CongratulationsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Congratulations! New Fundraising Action was successfully created!!!&lt;/strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningScreen</name>
        <label>WarningScreen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sorry, only volunteers can initiate new fundraising action&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Military_Requests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fundraising_Action__c</objectType>
    </variables>
    <variables>
        <name>varAssociatedMilitaryRequests</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMilitaryRequestsWithoutFundraising</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Military_Request__c</objectType>
    </variables>
</Flow>
